h2 {
    margin: 0;
}



.header-div {
    height: 200px;
}

.train-header {
    padding-top: 75px;
    padding-bottom: 75px;
    border-radius: 3px;
}



@media screen and (max-width: 640px) {
    h2 {
        font-size: 3rem;
    }
    .flex-row {
        display: flex;
        flex-direction: column-reverse;
    }
}
